body {
    background: rgb(0, 0, 0);
    color: rgb(250, 0, 0);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(31, 183, 175);
   margin: 0 auto;
   margin-bottom:20px;  
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(95, 223, 31)55, 19, 19);
    flex: 1;
    margin: 0px;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    color:#d7baba;
}
a {
    text-decoration: none;
    color: #f0030300;
}

/* main container area beneath menu */
main {
    background: rgb(40, 39, 37);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #d7baba;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #231e1e;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }
#interests {
    border: 4px rgb(20, 58, 54) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
