body {
  margin: 0px;
}

canvas {
  background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/29caae92-8d8a-4905-bffe-b5575a02b39e/df1j81j-51899e3f-8d91-4141-8147-a8d7308cee08.png/v1/fill/w_1280,h_720,q_80,strp/sonic_1__green_hill__present__background_by_mtbvcdremixes_df1j81j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMjljYWFlOTItOGQ4YS00OTA1LWJmZmUtYjU1NzVhMDJiMzllXC9kZjFqODFqLTUxODk5ZTNmLThkOTEtNDE0MS04MTQ3LWE4ZDczMDhjZWUwOC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.R5AV4FeUGVHiHG5_dbi3DCLH9gk6b0-MQsoBRjU91wo");
}

img {
  display: none;
}